.container{
    display: grid;
    grid-template-rows: auto auto auto;
    row-gap: 20px;
}
.head1{
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: gray;
    padding: 10px;
    height: 70px;
}
.menu{
    display:grid;
    grid-template-columns: auto auto auto auto;
    text-decoration: none;
}
a{
    text-align: center;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: 20px;
    color: black;
    
}
.shopimg{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto;
    gap:15px;
}
.box{
    display: grid;
    grid-template-rows: auto auto;
    row-gap: 10px;

}
.Usbox{
    display: grid;
    grid-auto-rows: auto auto;
    row-gap: 10px;
}
.zee{
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 10px;
}
.collection{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto auto;
   /* row-gap: 10px;*/
    column-gap: 10px;
}
.text{
    text-align: center;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    background-color: gray;
    margin: 10px;
    height: min-content;
    height: 35px;
}
.bdiv{
    height:30px;
    width:200px;
    background-color: gray;
    text-align: center;
}
.images{
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 10px;
}
.button{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    column-gap: 10px;
    row-gap: 10px;
    
}
.formbox{
    display:grid;
    grid-template-columns: auto auto;
    column-gap: 25px;
}

.account{
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 25px;
    row-gap: 10px;
    padding: 5px;
}

body{
    background-color: azure;
  
}
input[type="submit"]{
    background-color: gray;
    background-position: center;
    height: 30px;
    width:100px;
}
.productimg{
    margin:20px;
}
.infocont{
    display: grid;
    grid-template-columns: 500px auto;
    grid-template-rows: auto auto;
}
.productinfo{
   margin-right: 600px;
   margin-top: 20px;
}
.maincont{
    display: grid;
    grid-template-rows: auto auto;
    row-gap: 10px;
}
.seemore{
    display: grid;
    grid-template-columns: auto auto auto;
}